.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../../src/img/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 13vw;
        padding-left:30vw;
        font-size: 25px;

        @media (max-width: 768px) {
            padding-top: 20vw;
            padding-left: 0;
        }

        &-list {
            list-style-type: none;
            display: flex;
            padding: 0;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            &-item {
                font-size: 35px;
                margin-right: 10px;
                display: flex;
                text-align: center;

                &-age {
                    padding: 1px 4px;
                    background-color: rgb(0, 149, 218);
                    border-radius: 4px;
                }

                &::after {
                    content: '|';
                    margin-left: 10px;
                    color: black;
                }
    
                &:last-child::after {
                    content: '';
                }
            }
        }

        &-buttons {
            padding-top: 4vh;

            &-button {
                font-size: 24px;
                padding: 7px;
                border-radius: 5px;
                border: none;
                background-color: #D9D9D9;

                a {
                    text-decoration: none;
                    color: black;
                }
                
                &:first-child {
                    margin-right: 4vh;
                }
            }
        }
    }
}